.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1000px;
  margin: 24px;
}

.fieldset {
  display: block;
  min-inline-size: min-content;
  margin-inline: 2px;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
  padding-block: 0.35em 0.625em;
  padding-inline: 0.75em;
}

.form {
  display: flex;
  flex-direction: column;
}
